<script src="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/TemplateData/UnityProgress.js"></script>  
<script src="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/Build/UnityLoader.js"></script>
<script>
  var gameInstance = UnityLoader.instantiate("gameContainer", "{{ site.baseurl}}/assets/unity/{{page.unity_dir}}/Build/HellsBells1.json",{onProgress: UnityProgress});  
</script>
<div style="width: 80%;">Press Escape key any time to change music volume level, then Escape again to hide volume slider.</div>
<div class="webgl-content">
  <div id="gameContainer" style="width: 1280px;"></div>
</div>
